*{
    margin:0;
}
body { 
    background: url(http://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/newseventsimage_1537198485721_mainnews2012_x1.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
#main{
    height: 100vh;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}
#intro{
    background-color: aqua;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:10px;
    height:450px;
    width:450px;
    border-radius:100%;
    font-family: 'Baloo Bhai', cursive;
}
#start{
    background-color: blueviolet;
    height:50px;
    width: 200px;
    border-radius:25px;
    font-family: 'Josefin Sans', sans-serif;
}